[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"rpi.gpio" = "*"
flask = "*"
flask-httpauth = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
install = "bash ./deploy/install.sh"
sync = "python ./deploy/syncer/syncServer.py"
verderamen = "python ./main.py"