[Unit]
Description=Verderame
After=network.target

[Service]
ExecStart=/home/pi/verderame/run.sh
WorkingDirectory=/home/pi/verderame
User=pi
EnvironmentFile=/home/pi/verderame/.env
Environment="PATH=$PATH:/home/pi/.local/bin/:/home/pi/.pyenv/plugins/pyenv-virtualenv/shims:/home/pi/.pyenv/shims:/home/pi/.pyenv/bin:/home/pi/.pyenv/plugins/pyenv-virtualenv/shims:/home/pi/.pyenv/bin:/home/pi/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/games:/usr/games"
Restart=always

[Install]
WantedBy=multi-user.target
