[Unit]
Description=Verderame syncer server
After=network.target

[Service]
ExecStart=/home/pi/verderame/run-sync.sh
WorkingDirectory=/home/pi/verderame
User=pi
EnvironmentFile=/home/pi/verderame/.env
Restart=always

[Install]
WantedBy=multi-user.target
