[Unit]
Description=Verderame syncer server
After=network.target

[Service]
ExecStart=$HOME/verderame/run-sync.sh
WorkingDirectory=$HOME/verderame
User=pi
EnvironmentFile=$HOME/verderame/.env
Restart=always

[Install]
WantedBy=multi-user.target
